@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200&family=Playfair+Display&family=Nunito+Sans:wght@300;400&display=swap');
@import url(https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/reset-min.css);

:root {
  --primaryWhite: #fff;
  --primarybeige: #fee2c7;
  --chloePink: #fee2c7;
  --primaryBlack: #272727;
  --primaryGrey: #f9f9f9;
  --brown: #8f7144;
  --roundedCaps: Muli;
  --serif: "Playfair Display";
  --sans-serif: "Nunito Sans";
}

.app {
  text-align: center;
  /*overflow: hidden;*/
}

.page {
  display: block;
}

a {
  text-decoration: none;
  color: var(--primaryBlack);
}

/*** PAGES ***/


/* HOME */
/* Featured items */

.featured-items {
  display: grid;
  width: 90vw;
  margin: 0 auto;
  position: relative;
  top: 80px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.featured-item {
  width: 85%;
}

#pulsing-plus-1 {
  position: absolute;
  top: 50%;
  left: 22%;
}

#pulsing-plus-2 {
  position: absolute;
  top: 55%;
  right: 33%;
}

.plus-sign {
  border-radius: 50%;
  background-color: var(--primaryBlack);
  width: 20px;
  height: 20px;
  z-index: 2;
  position: relative;
  cursor: pointer;
}

.plus-sign::after {
  content: "";
  position: relative;
  top: 1px;
  left: 8.5px;
  height: 12px;
  width: 3px;
  background-color: var(--primaryWhite);
  z-index: 3;
  display: block;
}

.plus-sign::before {
  content: "";
  position: relative;
  top: 8px;
  left: 4px;
  width: 12px;
  height: 3px;
  background-color: var(--primaryWhite);
  z-index: 3;
  display: block;
}

.pulse {
  border-radius: 50%;
  background-color: var(--primaryBlack);
  width: 20px;
  height: 20px;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite; 
  position: relative;
  top: 20px;
}

@keyframes pulse {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
    transform: scale(3);
  }
  100% {
    opacity: 0%;
  }
}

.white-popup {
  background-color: var(--primaryWhite);
  font-family: var(--roundedCaps);
  font-size: 12px;
  text-transform: uppercase;
  width: 100px;
  text-align: start;
  padding: 12px 10px 12px 10px;
  transform: scaleY(0.85);
}

#f1popup {
  position: absolute;
}

#f2popup {
  position: absolute;
}

.price {
  transform: scaleY(1.2);
  padding-top: 10px;
  font-family: var(--serif);
  font-size: 14px;
}

.link-button {
  transition: 0.3s;
  opacity: 1;

  font-family: var(--roundedCaps);
  font-size: 11px;
  text-transform: uppercase;
  transform: scaleY(0.85);
  letter-spacing: 0.3em;

  color: var(--primaryWhite);
  background-color: rgb(39,39,39);
  background-color: rgba(39,39,39,0.6);
  width: 320px;
  padding: 14px 0px 14px 0px;
  border-style: solid;
  border-width: 1px;
  margin: 0 auto;
  z-index: 2;
  cursor: pointer;
}

.link-button:hover {
  transition: 0.3s;
  opacity: 0.6;
}

/* Statement Pieces */

.statement-pieces {
  margin: 0 auto;
  position: relative;
  top: 80px;
  width: 600px;
}

.statement {
  font-family: var(--serif);
  font-size: 26px;
  font-weight: 500;
  transform: scaleY(0.9);
  margin-bottom: 40px;
}

.button-transparent {
  background-color: transparent;
  color: var(--primaryBlack);
  margin: 0 auto;
}

/* Hero 2 */

.hero2 {
  text-align: center;
  position: relative;
  top: 200px;
  height: 43vw;
  width: 100vw;
  overflow: hidden;
}

.hero2-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 120vw;
  margin-left: -10vw;
  margin-right: -10vw;
  text-align: center;
}

.hero2-content {
  position: relative;
  top: 30%;
  z-index: 2;
}

.hero2-caption {
  font-family: var(--serif);
  font-size: 50px;
  font-weight: 350;
  transform: scaleY(0.9);
  color: var(--primaryWhite);

  width: 80vw;
  margin: auto;
}

#accessories-button {
  position: relative;
  top: 20px;
}


/* ERROR PAGE */

#grey-error-box {
  background-color: var(--primaryGrey);
  height: 80vh;
}

#error-content {
  position: relative;
  top: 25%;
}

#error-number {
  font-family: var(--roundedCaps);
  font-size: 120px;
  color: var(--chloePink);
  transform: scaleY(0.9);
}

#error-text {
  font-family: var(--serif), serif;
  font-weight: 300;
  transform: scaleY(0.9);
  position: relative;
  bottom: 14vh;
}

#error-button {
  position: relative;
  bottom: 10vh;
}


/* ITEM PAGE */

.whole-page {
  overflow: hidden;
}

.item-page {
  margin: 150px 12% 0px 12%;
  display: grid;
  grid-template-columns: 10fr 6fr;
  grid-column-gap: 12%;
}

.item-image {
  margin-bottom: 10%;
  width: 100%;
}

.product-info {
  text-align: start;
}

.product-name {
  font-family: var(--roundedCaps), sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  transform: scaleY(0.85);
  font-weight: 500;
}

.product-blurb {
  font-family: var(--serif), serif;
  font-size: 14.5px;
  font-weight: 500;
  letter-spacing: 0.01em;
  transform: scaleY(0.9);
  margin-top: 0px;
}

.product-price {
  font-family: var(--serif), serif;
  font-size: 16px;
  font-weight: 500;
}

.bag-button {
  transition: 0.3s;

  text-align: center;
  font-family: var(--roundedCaps);
  font-size: 11px;
  text-transform: uppercase;
  transform: scaleY(0.85);
  letter-spacing: 0.3em;

  color: var(--primaryWhite);
  background-color: rgba(39,39,39,0.8);
  padding: 14px 0px 14px 0px;
  border-style: solid;
  border-width: 1px;

  margin-top: 30px;
  cursor: pointer;
}

.bag-button:hover {
  transition: 0.3s;
  background-color: rgba(39,39,39,0.9);
}

.wishlist {
  letter-spacing: 0.05em;
  font-weight: 600;
  font-size: 12.5px;
  margin-bottom: 45px;
  cursor: pointer;
}

.wishlist:hover {
  opacity: 0.7;
}

.heart {
  font-size: 20px;
  position: relative;
  top: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.fill-heart {
  color: var(--chloePink);
  cursor: pointer;
}

.info-header {
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.info-header-text {
  font-size: 14px;
  transform: scaleY(0.9);
  font-weight: 500;
}

.info-header-plus {
  font-size: 14px;
  float: right;
  transform: scaleY(1.2);
  position: relative;
  bottom: 3px;
}

.text-lines {
  margin: 0;
  font: inherit;
}

.details {
  font-family: var(--serif), serif;
  font-size: 14.5px;
  font-weight: 500;
  letter-spacing: 0.01em;
  transform: scaleY(0.9);

  margin-top: 0px;
  margin-bottom: 0px;
}

.hide {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s linear;
}

.show {
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.5s linear;
}

.contact-info {
  font-size: 13px;
  font-family: var(--serif), serif;
  font-weight: 500;
}

#phone {
  font-size: 16px;
  margin: 0 10px;
}

/* CATALOG */

.catalog-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5vw;
  margin: 150px 10vw 0 10vw;
}

.product-wrapper {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.product-image-hover {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.product-image-primary {
  width: 100%;
  z-index: 1;
}

.shown-image {
  opacity: 1;
  transition: opacity 0.3s linear;
}

.hidden-image {
  opacity: 0;
  transition: opacity 0.3s linear;
}

.catalog-info {
  margin-top: 5%;
  margin-bottom: 15%;
}

.catalog-name {
  margin: 2% auto;
}

.catalog-blurb {
  margin: 2% auto;
  width: 70%;
}

.catalog-price {
  padding: 0;
  margin: 2% auto;
}

/*** COMPONENTS ***/

/* HERO */

.hero-container {
  width: 100vw;
  height: 48vw;
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 30%;
}

.hero {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
}

.clipped {
  clip-path: polygon(0% 97.5%, 0% 0%, 100% 0%, 100% 97.5%, 51.5% 97.5%, 50% 100%, 48.5% 97.5%);
}

.logo-home {
  z-index: 2;
  width: 30vw;
}

.home-caption {
  font-family: var(--serif), serif;
  font-size: 36px;
  z-index: 2;
  color: var(--primaryWhite);
  width: 90vw;
}

.hero-button {
  position: relative;
  z-index: 3;
}

/* NAVBAR */

.white-background {
  position: absolute;
  top: 0px;
  width: 100vw;
  background-color: var(--primaryWhite);
  z-index: 7;
}

.nav-logo {
  z-index: 7;
  width: 150px;
  position: relative;
  top: 20px;
  margin-bottom: 5px;
}

.navbar-holder {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.navbar {
  text-align: center;
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.icons {
  z-index: 7;
  font-weight: 100;
  font-size: 18px;
  cursor: pointer;
}

.beige {
  color: var(--primarybeige);
}

.gold {
  color: #a89270;
}

#search {
  justify-self: start;
  padding-left: 60px;
}

#cart {
  justify-self: end;
  padding-right: 60px;
}

.brown {
  color: var(--brown);
  width: auto;
  padding-bottom: 9px;
  transition: border-bottom 0.3s linear;
  border-bottom: 1px solid transparent; 
}

.brown:hover {
  transition: border-bottom 0.1s linear;
  border-bottom: 1px solid var(--brown); 
}

.underline-nav {
  padding-bottom: 9px;
  border-bottom: 1px solid var(--brown); 
}

/* Navbar on home page */

.gradient-background {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent);
  z-index: 2;
}

.navbar-home {
  text-align: center;
  width: 1100px;
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.navbar-link {
  font-family: var(--roundedCaps), sans-serif;
  text-transform: uppercase;
  transform: scaleY(0.85);
}

.navbar-link-small {
  font-size: 12px;
  letter-spacing: 0.35em;
  z-index: 7;
}

.navbar-link-medium {
  font-size: 13px;
  letter-spacing: 0.35em;
  z-index: 6;
}

.navbar-link-large {
  font-size: 14px;
  letter-spacing: 0.45em;
  z-index: 6;
  margin-left: 2px;
  margin-right: 2px;
}

.beige-white {
  color: var(--primarybeige);
}

.beige-white:hover {
  color: var(--primaryWhite)
}

/* Navbar in scroll position */

.navbar-holder-sticky {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px 10vw 10px 10vw;
}

.navbar-sticky {
  text-align: center;
  width: 700px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
}

.nav-logo-sticky {
  z-index: 7;
  width: 110px;
  padding-right: 10px;
}

.icons-sticky {
  padding-left: 22px;
}

.left {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-self: start;
  padding-left: 10px;
}

.right {
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.transparent {
  z-index: 6;
  position: fixed;
  top: 0px;
  pointer-events: none;
  transition: opacity 0.25s;
  opacity: 0;
}

.sticky {
  z-index: 6;
  position: fixed;
  top: 0px;
  transition: opacity 0.25s;
  opacity: 1;
}

/* Search */

.hide-search {
  opacity: 0;
  pointer-events: none;
}

.translucent-grey {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(39, 39, 39, 0.3);
  z-index: 8;
}

.ais-SearchBox-input {
  position: fixed;
  top: 11vh;
  border-radius: 0px;
  left: 32.5%;
  width: 32.5%;
  outline: none;
  border: none;
  z-index: 9;
  font-family: var(--sans-serif);
  transform: scaleY(1.1);
  text-transform: uppercase;
  font-size: 14px;
  height: 30px;
  padding: 7px 40px;
}

.ais-SearchBox-resetIcon {
  width: 15px;
  position: relative;
  bottom: 3px;
}

.ais-SearchBox-submitIcon {
  transform: scale(1.3);
  position: relative;
  bottom: 3px;
}

.ais-SearchBox-reset {
  z-index: 10;
  position: fixed;
  top: 10.823vh;
  left: 62.7%;
  padding: 10px;
  width: 20px;
  height: 20px;
  outline: none;
}

.ais-SearchBox-submit {
  outline: none;
  z-index: 10;
  position: fixed;
  top: 10.823vh;
  left: 65%;
  padding: 10px;
  width: 33.5px;
  height: 33.5px;
  background-color: var(--chloePink);
}

.ais-Hits {
  z-index: 8;
  top: 14.9vh;
  position: fixed;
  left: 32.5%;
  width: 34.85%;
  height: auto;
  max-height: 48vh;
  overflow-y: scroll;
  text-align: start;
  background-color: #f9f9f9;
}

.ais-Hits-list {
  padding: 0 8%;
}

.ais-Hits-item {
  width: 100%;
}

.result {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 10px;
  margin: 10px 0;
}


.result-text {
  font-family: var(--serif);
  font-size: 15px;
  font-weight: 600;
  transform: scaleY(0.9);
  color: #808285;
}

.result-text:hover {
  color: rgb(39, 39, 39);
}


.result-image {
  width: 50px;
}


/* DROPDOWN */

.triangle {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-bottom: 15px solid #f9f9f9;
  z-index: 6;
  position: absolute;
  top: 65px;
}

.triangle0 {
  left: -10vw;
}

.triangle1 {
  left: 18.5vw;
}

.triangle2 {
  left: 31vw;
}

.triangle3 {
  left: 48vw;
}

.triangle4 {
  left: 62vw;
}

.triangle5 {
  left: 75.5vw;
}

.dropdown {
  position: absolute;
  top: 0;
  left: 0;
}

.hide-dropdown {
  max-height: 0;
  overflow: hidden;
}

.show-dropdown {
  transition: max-height 0.7s ease-out;
  max-height: 1000px;
  overflow: hidden;

  z-index: 5;
  background-color: #f9f9f9;
  padding-bottom: 50px;
  width: 100vw;
}

.top-dropdown {
  margin-top: 110px;
  padding-top: 40px;
}

.home-top-dropdown {
  margin-top: 80px;
  padding-top: 20px;
}

.sticky-dropdown {
  margin-top: 60px;
  padding-top: 20px;
  position: fixed;
}

.spacer {
  height: 30px;
  align-items: end;
}

.column {
  text-align: left;
}

.navbar-picture {
  width: 100%;
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10%;
  justify-content: center;
  margin: auto 30%;
}

.three-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 8%;
  justify-content: center;
  margin: auto 20%;
}

.four-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5%;
  justify-content: center;
  margin: auto 20%;
}

.five-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 5%;
  justify-content: center;
  margin: auto 20%;
}

.subcategory {
  font-family: var(--sans-serif);
  color: #757575;
  font-size: 15px;
  font-weight: 500;
  margin: 15px 0;
  width: auto;
}

.subcategory:hover {
  color: #000;
}

.dark-link {
  color: #000;
}

.category {
  font-family: var(--roundedCaps);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 13px;
}

.gold-category {
  color: var(--brown);
}

.gold-category:hover {
  color: #000;
}

.grey-category {
  color: #999;
}

/* Checkout */

.white-cart-background {
  width: 99.6%;
  height: 99.6%;
  position: relative;
  top: 1px;
  left: 1px;
  background-color: var(--primaryWhite);
  clip-path: polygon(0% 2%, 94% 2%, 96.5% 0%, 99% 2%, 100% 2%, 100% 100%, 0% 100%);
}

.cart {
  background-color: #e7e7e7;
  clip-path: polygon(0% 2%, 94% 2%, 96.5% 0%, 99% 2%, 100% 2%, 100% 100%, 0% 100%);
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 10;
  text-align: left;
  width: 380px;
  opacity: 1;
}

.sticky-cart {
  margin-top: 60px;
  position: fixed;
  right: 10vw;
}

.top-cart {
  margin-top: 130px;
}

.home-top-cart {
  margin-top: 80px;
}

.show-cart {
  transition: max-height 0.2s ease-out;
  max-height: 430px;
  overflow: hidden;
}

.hide-cart {
  transition: opacity 0.1s cubic-bezier(0.8, 0, 0.99, 1) 1.2s, max-height 0.2s ease-in 1s;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.cart-content {
  max-height: 315px;
  overflow-y: scroll;
  padding: 0 25px;
}

.wishlist-items {
  margin-bottom: 30px;
}

.item {
  font-family: var(--sans-serif);
  font-size: 12px;
  font-weight: 400;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-column-gap: 12px;
  align-items: center;
  height: 110px;
}

.cart-image {
  width: 70px;
}

.cart-name {
  font-family: var(--roundedCaps);
  text-transform: uppercase;
  font-size: 12px;
  transform: scaleY(0.85);
  letter-spacing: 0.03em;
  margin: 2px 0;
}

.quantity {
  color: #757575;
  margin: 2px 0;
  font-size: 12px;
  font-weight: 400;
}

.remove {
  margin: 2px 0;
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
}

.line {
  border-bottom: solid 1px #e7e7e7;
  margin: 30px 0 5px 0;
}

.cart-title {
  font-family: var(--sans-serif);
  font-size: 16px;
  font-weight: 400;
  margin: 25px 0 10px 10px;
}

.wishlist-title {
  font-family: var(--sans-serif);
  font-size: 14px;
  font-weight: 400;
  color: #757575;
  margin: 25px 0 10px 10px;
}

.checkout {
  background-color: #f5e2c7;
  height: 115px;
  width: 100%;
  border: solid 1px #e7e7e7;
}

.subtotal-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 0 40px;
  align-items: end;
  position: relative;
  top: 7px;
}

.subtotal {
  justify-self: start;
  font-family: var(--sans-serif);
  font-size: 14px;
  font-weight: 400;
}

.cart-price {
  justify-self: end;
  transform: scaleY(1.1);
  font-family: var(--serif);
  font-size: 14px;
}

.cart-button {
  font-family: var(--roundedCaps);
  font-size: 11px;
  text-transform: uppercase;
  transform: scaleY(0.85);
  letter-spacing: 0.3em;

  color: var(--primaryWhite);
  background-color: rgb(39,39,39);
  width: 300px;
  padding: 14px 0px 14px 0px;
  border-style: solid;
  border-width: 1px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

/* FOOTER */
/* Newsletter */

.footer-container {
  position: relative;
  top: 400px;
  display: block;
  background-color: #f9f9f9;
  padding: 20px 0px 20px 0px;
  height: 200px;
  align-items: center;
}

.newsletter {
  font-family: var(--sans-serif), sans-serif;
  font-size: 18px;
  width: 370px;
  margin: 0 auto;
}

.newsletter-title {
  font-family: var(--roundedCaps), sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.45em;
  transform: scaleY(0.85);
  font-size: 16px;
}

.newsletter-text {
  font-weight: 400;
  padding: 10px 0px 10px 0px;
}

.underline {
  border-bottom: solid 1px #272727;
  height: 25px;
}

.newsletter-form {
  width: 370px;
}

.newsletter-input {
  border-style: none;
  background-color: transparent;
  color: #272727;
  font-size: 14px;
  font-weight: 500;
  float: left;
  width: 280px;
}

.newsletter-input:focus {
  outline-width: 0;
}

.newsletter-button {
  border-style: none;
  background-color: transparent;
  text-justify: end;
  color: #272727;
  font-size: 14px;
  font-weight: 500;
  float: right;
  cursor: pointer;
}

.newsletter-button:focus {
  outline-width: 0;
}

.red {
  color: red;
  font-size: 14px;
  text-align: start;
  position: relative;
  bottom: 26px;
}

/* CAROUSEL */

.runway-carousel {
  position: relative;
  top: 300px;
  height: 97vh;
  align-items: center;
  justify-content: center;
}

.runway-carousel-container {
  overflow: hidden;
  width: 33.33vw;
  height: 100vh;
}

.runway-carousel-image {
  width: 40vw;
  height: auto;
  margin-left: -3.33vw;
  margin-right: -3.33vw;
}

.white-box {
  background-color: var(--primaryWhite);
  position: absolute;
  width: 50vw;
  top: 16vw;
  left: 25vw;
  height: 25vw;
}

.runway-caption {
  font-family: var(--roundedCaps);
  text-transform: uppercase;
  letter-spacing: 0.45em;
  transform: scaleY(0.9);
  font-size: 12px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 33%;
  margin-left: -50%;
}

#runway-number {
  font-size: 15px;
  transform: none;
}

.carousel-button {
  position: absolute;
  left: 50%;
  top: 54%;
  margin-left: -160px;
}


/* Adaptive scaling */

@media only screen and (max-width: 1140px) {
  :root {
    overflow-x: hidden;
  }

  .item-page {
    margin: 150px 8% 0px 2%;
    grid-column-gap: 7%;
  }

  .navbar-sticky, .navbar {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  .featured-items, .statement-pieces {
    position: relative;
    top: 8vw;
    max-width: 100%;
  }
}

@media only screen and (max-width: 815px) {

  .hero {
    position: absolute;
    left: -20%;
    width: 140%;
    z-index: 1;
  }

  .featured-items, .statement-pieces {
    position: relative;
    top: 25vw;
    max-width: 100%;
  }

  .home-caption, .hero2-caption, .statement {
    font-size: 22px;
  }

  .runway-carousel {
    height: 60vw;
    overflow: hidden;
  }

  .runway-caption {
    font-size: 9px;
    top: 22%;
  }

  .carousel-button {
    width: 80%;
    font-size: 8px;
    margin-left: -40%;
    padding: 4px 0;
    top: 60%;
  }
}